.otstypi {
  padding: 0 30px;
  background-color: rgb(255, 255, 255);
}

.obratka {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:calc(10px)
}

.katalog_obratka {
    color:rgb(34, 34, 34);
}

.ref_obratka {
    color:rgb(163, 163, 163);
    text-decoration: none;
}


.prod {
    text-align: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    font-weight: 900;
}


.cards_№1 {
    display: flex;
    gap: 20px
}

.card {
    position: relative;
    border-radius: 35px;
    background-color: chocolate;
    width: 50%;
    height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  overflow: hidden;
}

.text {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: 900;
    position: absolute;
    top: 0%;
    left: 2%;
}

.ref {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
    position: absolute;
    border-radius: 100%;
    color:black ;
    background-color: rgb(233, 233, 233);
    text-decoration: none;
    width: 75px;
    height: 75px;
  top: 2%;
  right: 2%;
}

.photo_1 {
    width: 50%;
    transform: rotate(-27deg) translateX(110px) translateY(150px);
}


.photo_2 {
    width: 65%;
    transform: rotate(-27deg) translateX(110px) translateY(150px);
}



        /*2 ЧАСТЬ*/


.cards_№2 {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}


.photo_3 {
    width: 67%;
    transform: rotate(-27deg) translateX(110px) translateY(150px);
}


.photo_4 {
    width: 60%;
    transform: rotate(-27deg) translateX(110px) translateY(150px);
}

.text_01 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    font-weight: 900;
    margin-top: 60px;
}

.tsennosti{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
}

.obsh {
    display: flex;
    justify-content: center;
    align-items: center;
      flex-direction: column;
    position: relative;
    width: 230px;
    height: 350px;
    margin-top: 30px;
    border-radius: 20px;
background: #b53904;
background: radial-gradient(circle, rgba(181, 57, 4, 0.9) 0%, rgba(0, 0, 0, 0.52) 100%);
}

.kachestvo,
.komanda {
    height: 400px;
}

.zabota {
    height: 300px;
}

.obsh h2 {
    margin: 0px;
}

.obsh p {
    text-align: center;
    font-weight: 300;
    font-size: 22px;
    margin: 0px;
}

.obsh img {
    margin-top: auto;
    margin-bottom: 10px;
}


.footer_catalog {
  background-color: #272727;
  display:flex;
  justify-content: space-between;
  text-align: center;
  padding: 20px 50px;
  color: white;
  margin-top: 40px;
}

.p_1 {
  margin: 0;
}

.p_2 {
  margin: 0;
}